<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Muzik</title>
        <link rel="stylesheet" href="css/reset.css">
    </head>

    <body>

        <form action="/" method="post">
            <h4>Add an actor</h4>
            <p>
                <label for="name">Name:
                    <input type="text" name="name" required />
                </label>
            </p>

            <p>
                <label for="born">Born:
                    <input type="month" name="born" required />
                </label>
            </p>
            <button type="submit" name="submit">Submit</button>
        </form>