extends layout

block content
    h1 Login
    
    // show any messages that come back with authentication
    if (message.length > 0)
      #alert
        p= message

    // login form
    form(action='/login', method='POST')
        label Email 
          input(type='email', name='email', required)
        label Password 
          input(type='password', name='password', required)
        input(type='submit', value='Login')

    p Not registered? Why the hell not?!
      a(href='/signup') Signup now
    p Or go 
      a(href='/') home