extends layout

block content
    h1 Profile page
    p: a(href='/logout') Logout
    
    h2 Welcome
    p= user._node._id
    p= user._node.labels
    p= user._node.properties.username
    p= user._node.properties.password

    //canvas#player
    //canvas#track
    canvas#project
    button#play(value="Play") Play
    button#stop Stop


    //script(src="/js/web-audio-viz.js")
    //script(src="/js/canvas-shapes.js")
    //script(src="/js/BufferLoader.js")
    script(src="https://code.createjs.com/easeljs-0.8.2.min.js")
    script(src="https://code.createjs.com/soundjs-0.6.2.min.js")
    script(src="https://code.createjs.com/preloadjs-0.6.2.min.js")
    script(src="/js/Track.js")
    script(src="/js/Project.js")
    script(src="/js/easeljs-soundjs-test.js")