extends layout

block content
    h1 Profile page
    p: a(href='/logout') Logout
    
    h2 Welcome
    p= user._node._id
    p= user._node.labels
    p= user._node.properties.username
    p= user._node.properties.password

    //canvas#player
    //canvas#track
    canvas#project

    p#output

    //script(src="/js/web-audio-viz.js")
    //script(src="/js/canvas-shapes.js")
    script(src="https://code.createjs.com/easeljs-0.8.2.min.js")
    script(src="/js/easeljs-test.js")